body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 35px;
}
.menu {
    width: 1230px;
    margin: 0 auto;
}
.nav {
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    background-color: rgb(192, 217, 217);
}
.navigat {
    display: inline;
    padding: 0;
}
.navigat li {
    display: inline-block;
    width: 170px;
    border: 1px solid rgb(0, 0, 0);
    margin: 4px;
    padding:10px;
    text-decoration: none;
    text-align: center;
}
.main {
    background-color: darkkhaki;
}
.h {
    padding-top: 25px;
}
.code {
    border: 1px solid rgb(46, 46, 46);
    margin: 15px;
    padding: 10px;
    background-color: rgb(174, 172, 172);
}
.myPhoto {
    display: block;
    margin: 20px auto;
    width: 260px;
}
.centred {
    width: 350px;
    margin: 0 auto;
}
.logo {
    height: 50px;
}
